<div class="wrapper">
  <div class="top">
    <div class="prefix">
      <ul>
        <li>
          <a href="#">
            About KES
          </a>
        </li>
        <li>
          <a href="#">
            Exhibitors
          </a>
        </li>
        <li>
          <a href="#">
            Products
          </a>
        </li>
        <li>
          <a href="#">
            KES Awards
          </a>
        </li>
        <li>
          <a href="#">
            Hightlights
          </a>
        </li>
        <li>
          <a href="#">
            Help desk
          </a>
        </li>
      </ul>
    </div>
    <div class="suffix">
      <a href="#">
        privacy policy 
        <i class="icon-up-arrow"></i>
      </a>
    </div>
  </div>
  <div class="bottom">
    <div class="prefix">
      <p class="copyright">
        Copyright(c) 2022 Korea Electronics Association. All rights reserved.
      </p>
    </div>
    <div class="suffix">
      <ul>
        <li>
          <a href="#">
            <i class="icon-youtube"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-instar"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>