<div class="wrapper">
  <div class="prefix">
    <div class="logo">
      <a href="#">
        <img src="../assets/images/logo.png">
      </a>
    </div>
  </div>
  <div class="center">
    <ul>
      <li>
        <a href="#">
          About KES
        </a>
        <div class="menudept">
          <ul>
            <li>
              <a href="#">
                About KES
              </a>
            </li>
            <li>
              <a href="#">
                KES Seoul
              </a>
            </li>
            <li>
              <a href="#">
                KES Digital
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          Exhibitors
        </a>
      </li>
      <li>
        <a href="#">
          Products
        </a>
      </li>
      <li>
        <a href="#">
          KES Awards
        </a>
      </li>
      <li>
        <a href="#">
          Hightlights
        </a>
      </li>
      <li>
        <a href="#">
          Help Desk
        </a>
        <div class="menudept">
          <ul>
            <li>
              <a href="#">
                Help Desk
              </a>
            </li>
            <li>
              <a href="#">
                Notice
              </a>
            </li>
            <li>
              <a href="#">
                FAQ
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="suffix">
    <ul class="user-sate">
      <li>
        <a href="#">
          Login
        </a>
      </li>
      <li>
        <a href="#">
          Join Us
        </a>
      </li>
    </ul>
    <div class="mobile-suffix">
      <ul>
        <li>
          <a href="#">
            <i class="icon-mglasses"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-hamburger" onclick="OpenMenu()"></i>
            <i class="icon-gnb-close" onclick="CloseMenu()"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mobile-dept-menu">
    <ul class="dept-list">
      <li>
        <div class="accordion mobile-header-accordion">
          <div class="box">
            <div class="accordion-title">
              <a href="#">
                About KES
              </a>
            </div>
            <div class="panel">
              <ul>
                <li>
                  <a href="#">
                    KES Seoul
                  </a>
                </li>
                <li>
                  <a href="#">
                    KES Digital
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#">
          Exhibitors
        </a>
      </li>
      <li>
        <a href="#">
          Products
        </a>
      </li>
      <li>
        <a href="#">
          KES Awards
        </a>
      </li>
      <li>
        <a href="#">
          Highlights
        </a>
      </li>
      <li>
        <div class="accordion mobile-header-accordion"> 
          <div class="box">
            <div class="accordion-title">
              <a href="#">
                Help Desk
              </a>
            </div>
            <div class="panel">
              <ul>
                <li>
                  <a href="#">
                    Notice
                  </a>
                </li>
                <li>
                  <a href="#">
                    FAQ
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- 20220405 추가 -->
    <div class="user-state">
      <ul>
        <li>
          <a href="#">
            <i class="ico-lock"></i>
            Login
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ico-join"></i>
            Join us
          </a>
        </li>
      </ul>
    </div>
    <div class="sns-list">
      <ul>
        <li>
          <a href="#">
            <i class="icon-youtube"></i>
            Youtube
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-facebook"></i>
            Facebook
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-instar"></i>
            Instar
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-vr-two"></i>
            Virtual Room
          </a>
        </li>
      </ul>
    </div>
    <div class="header-footer">
        Copyright(c) 2022 Korea Electronics Association.<br>
        All rights reserved.
    </div>
    <!-- //20220405 추가 -->
  </div>
</div>